@model PCBuilder.Common.Models.BindingModels.PCBindingModel
@{
    ViewData["Title"] = "Create";
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger" role="alert">
        @(TempData["Error"])
    </div>
}

<h2>Create</h2>

<form asp-action="Create" asp-controller="Builds" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="BuildName" class="control-label"></label>
        <input asp-for="BuildName" class="form-control" />
        <span asp-validation-for="BuildName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Case" class="control-label"></label>
        <select asp-for="Case" asp-items="ViewBag.Cases" class="form-control">
            @*<option value="">Choose a processor</option>*@
        </select>
    </div>
    <div class="form-group">
        <label asp-for="Processor" class="control-label"></label>
        <select asp-for="Processor" asp-items="ViewBag.Processors" class="form-control">
            @*<option value="">Choose a processor</option>*@
        </select>
    </div>
    <div class="form-group">
        <label asp-for="GraphicsCard" class="control-label"></label>
        <select asp-for="GraphicsCard" asp-items="ViewBag.GraphicsCards" class="form-control">
            @*<option value="">Choose a graphics card</option>*@
        </select>
    </div>
    <div class="form-group">
        <label asp-for="Motherboard" class="control-label"></label>
        <select asp-for="Motherboard" asp-items="ViewBag.Motherboards" class="form-control">
            @*<option value="">Choose a motherboard</option>*@
        </select>
    </div>
    <div class="form-group">
        <label asp-for="Memory" class="control-label"></label>
        <select asp-for="Memory" asp-items="ViewBag.Memory" class="form-control">
            @*<option value="">Choose memory</option>*@
        </select>
    </div>
    <div class="form-group">
        <label asp-for="NumberOfMemorySticks" class="control-label"></label>
        <input asp-for="NumberOfMemorySticks" class="form-control" />
        <span asp-validation-for="NumberOfMemorySticks" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PowerSupply" class="control-label"></label>
        <select asp-for="PowerSupply" asp-items="ViewBag.PowerSupplies" class="form-control">
            @*<option value="">Choose a power supply</option>*@
        </select>
    </div>
    <br />
    <div class="text-center text">
        <label class="control-label">Choose at least one</label>
    </div>
    <br />
    <div class="form-group col-sm-6">
        <label asp-for="HardDiskDrive" class="control-label"></label>
        <select asp-for="HardDiskDrive" asp-items="ViewBag.HardDiskDrives" class="form-control">
            <option value="">Choose a hard disk drive</option>
        </select>
    </div>
    <div class="form-group col-sm-6">
        <label asp-for="SolidStateDrive" class="control-label"></label>
        <select asp-for="SolidStateDrive" asp-items="ViewBag.SolidStateDrives" class="form-control">
            <option value="">Choose a solid state drive</option>
        </select>
    </div>
    <div>
        <input type="submit" value="Create" class="btn btn-success" />
        <a asp-action="Index" asp-controller="Builds" asp-area="" class="btn btn-default">My builds</a>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}