@model PCBuilder.Common.Models.BindingModels.PowerSupplyBindingModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>PowerSupply</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Manufacturer" class="control-label"></label>
                <input asp-for="Manufacturer" class="form-control" />
                <span asp-validation-for="Manufacturer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModelName" class="control-label"></label>
                <input asp-for="ModelName" class="form-control" />
                <span asp-validation-for="ModelName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Connector" class="control-label"></label>
                <input asp-for="Connector" class="form-control" />
                <span asp-validation-for="Connector" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfCoolingVents" class="control-label"></label>
                <input asp-for="NumberOfCoolingVents" class="form-control" />
                <span asp-validation-for="NumberOfCoolingVents" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Power" class="control-label"></label>
                <input asp-for="Power" class="form-control" placeholder="W" />
                <span asp-validation-for="Power" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pfc" class="control-label"></label>
                <input asp-for="Pfc" class="form-control" />
                <span asp-validation-for="Pfc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Effectiveness" class="control-label"></label>
                <input asp-for="Effectiveness" class="form-control" placeholder="%" />
                <span asp-validation-for="Effectiveness" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" placeholder="$" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
                <a asp-action="Index" asp-controller="PowerSupplies" asp-area="" class="btn btn-default">Back to List</a>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
